@font-face {
  font-family: "Interface-regular";
  src: url("/font/interface-regular.TTF") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Interface-medium";
  src: url("/font/interface-medium.TTF") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Interface-semibold";
  src: url("/font/interface-semibold.TTF") format("truetype");
  font-weight: 600;
}

:root {
  --dark-violet: 17, 0, 60;
  --white: 255, 255, 255;
  --blue: 86, 0, 255;
  --regular: "Interface-regular";
  --medium: "Interface-medium";
  --semibold: "Interface-semibold";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--regular), sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 16px;
  border: 1px solid red;
}
